<div class="messagetobeadded" hidden>
  <message-type>message</message-type>
  <message-image>   <%= image_tag(message.character.image(:thumb), {class: 'rounded'}) %> </message-image>
  <message-from>    <%= message.character.name %>                                         </message-from>
  <message-content> <%= message.body %>                                                   </message-content>
</div>