<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-1">
        <%= image_tag message.character.image(:thumb) %>
      </div>
      <div class="col-11">
        <p class="card-text">
          <span class="text-muted"><%= message.character.name %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>