// Place all the styles related to the roleplays controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messages {
  height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid lightgray;
}

#roleplay_title {
  padding: 1.5rem;
  text-align: center;
}

.character-card {
  height: 100px;
  width: 80%;
  margin-bottom: 0.5rem;
}

.card-text {
  padding: 1rem;
}

.card-img-left {
  float: left;
}

#add_character {
  height: 4rem;
  width: 20%;
  margin: 1rem auto 0;
  display: block;
  color: white;
}

