// Place all the styles related to the roleplays controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messages {
  height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid lightgray;
}

#roleplay_title {
  padding: 1.5rem;
  text-align: center;
}

.character-card {
  height: 100px;
  width: 80%;
  margin-bottom: 0.5rem;
}

.card-text {
  padding: 1em;
}

.card-img-left {
  float: left;
}

#add_character {
  height: 4rem;
  width: 20%;
  margin: 1rem auto 0;
  display: block;
  color: white;
}

.annoucement-card {
  text-align: center;
  font-family: Adamina, Serif;
  font-size: 22px;
}

.message-card {
  font-size: 18px;
  background-color: rgba(255,255,255,.5);
}

.character_name
{
  font-size: 18px;
}

.roleplay-card {
  background-color: rgba(255,255,255,.8) !important;
}

#options-area {
  background-color: rgba(255,255,255,.8);
}

.light-card {
  background-color: rgba(248,249,250,.5) !important;
}
.gray-card {
  background-color: rgba(150,154,157,.5) !important;
}
.dark-card {
  background-color: rgba(52,58,64,.5) !important;
}
#add_character {
  font-size: 40px;
}
