// Place all the styles related to the roleplays controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messages {
  height: 28rem;
  overflow-y: auto;
}

.character-card {
  height: 100px;
}

.card-text {
  padding: 1rem;
}

.selected {
  background-color: red;
  color: red;
}
